# Homework 03 - Nonstandard Evaluation and Git

## Nonstandard Evaluation

### Question 1
Imagine we have a data frame called `data`, with a `type` column. Which one works and why?\
Function 1:
```
group_and_tally <- function(df, column){
    df %>% group_by({{ column }}) %>% tally();
}
group_and_tally(data, type);
```

Function 2:
```
group_and_tally <- function(df, column){
    df %>% group_by(column) %>% tally();
}
group_and_tally(data, type);
```

## Answer

Function 1. The embrace "{{}}" is a construct that allows the value contained between then to be defined when calling the function.

## Git
For the questions below, please add the commands you used to complete these steps.

### Question 2
Set up your git repo on your local computer. If you already make a git repo on GitHub, but it isnâ€™t on your local computer - clone it.

In [ ]:
cd C:\Users\CSIDE\OneDrive\Documents\GitHub\BIOS512
git init

### Question 3
Set up your SSH key.

In [ ]:
mkdir ssh-keys   ## Makes a directory titled "ssh-keys"
cd ssh-keys/     ## Sets the current directory to "ssh-keys"
ssh-keygen       ## Generates an SSH key

### Question 4
a) Add a HW2 directory to your git repo through the terminal with a HW.md file that says "This is for homework 2."

In [ ]:
## Answer
mkdir HW2    ## Makes a directory titled "HW2"
cd HW2       ## Sets the current directory to "HW2"
echo "This is for homework 2." > HW2.md     ##silmultaneous creates HW2.md and adds the string "This is for homework 2." to the file

b) *Add* HW2.md to the staging area. Then, use the command to see which files have been modified, staged for commit, or are untracked. What does it show?
They should copy paste the terminal response after git status, and show that key used the commands below.

In [ ]:
## Answer
git add HW2.md     ## adds HW2.md to the staging area
warning: in the working copy of 'HW2/HW2.md', LF will be replaced by CRLF the next time Git touches it     ##output

git status                   ## checks the status of the files
On branch main               ## output start

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
        new file:   HW2.md

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        ../HEAD
        ../config
        ../description
        ../hooks/
        ../info/              ##output end

c) Save file changes to the main branch.

In [ ]:
git commit -m "Initial commit for Question 4c"

d) Now, edit the HW2.md file to give it a title.

In [ ]:
echo "# This is a title." > HW2.md          ## rewrites the file "HW2" with the string "This is the title"
echo "" >> HW2.md                           ## adds a blank line after the title
echo "This is for homework 2." >> HW2.md    ## adds the string "This is for homework 2." beneath the blank line

e) Use the command that compares current, unsaved changes to the main branch. What does it say?

In [ ]:
git diff main                            ## comparing changes to the main branch
diff --git a/HW2/HW2.md b/HW2/HW2.md     ## output start
index 1a010d3..ebe102e 100644
--- a/HW2/HW2.md
+++ b/HW2/HW2.md
@@ -1 +1,3 @@
-This is for homework 2.
+"# This is a title."
+""
+"This is for homework 2."               ## output end

f) Use the command that checks the status of the working directory and the staging area *again*. What does it say?

In [ ]:
git status           ## checks status
On branch main       ## output start
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   HW2.md

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        ../HEAD
        HW2
        ../config
        ../description
        ../hooks/
        ../info/

no changes added to commit (use "git add" and/or "git commit -a")   ## output end

g) Once again, add HW2.md to the staging area and save the file changes to the main branch. Then, get use the command that gives you project history and paste the output in your homework.

In [ ]:
git add HW2.md                                       ## adds homework to the staging area
git commit -m "Second commit for question 4g"        ## commits the changes with the comment "Second commit for question 4g"
git log                                              ## returns the project history
commit b06cb3e0f4876edd4ba104959a458b6c782538f9 (HEAD -> main)   ## output start
Author: christineside <cside814@gmail.com>
Date:   Thu Sep 11 16:48:40 2025 -0400

    Second commit for question 4g

commit 922a8837fcad449d39ccba10beea2a3e2457e642
Author: christineside <cside814@gmail.com>
Date:   Thu Sep 11 10:48:04 2025 -0400

    Initial commit for Question 4c                               ## output end

h) Do some searching... What `git` command will provide you documentation on other commands? Use that command to find documentation on `git log` and `git show`. What does `--since` mean in regards to `git log`? Copy and paste what is written in the documentation.

In [ ]:
## git help is the command that provides further documentation. Adding a specific command at the end allows you to search for that command.
git help show   ## opens an .html file with information on the command git show
git help log    ## opens an .html file with information on the command git log
Using more options generally further limits the output (e.g. --since=<date1> limits to commits newer than <date1>, and using it with --grep=<pattern> further limits to commits whose log message has a line that matches <pattern>), unless otherwise noted.

## Tidyverse

Note: Please make sure Binder is set up correctly to run this section. You can follow the instructions here: https://github.com/rjenki/BIOS512.

**Please show your code for this section!** Before completing this section, please run the following.

In [8]:
library(tidyverse)
if (!dir.exists("intermediate")) dir.create("intermediate", recursive = TRUE)
if (!exists("mdpre")) mdpre <- function(x) { print(x) }
if (!exists("ggmd"))  ggmd  <- function(p) { print(p) }

### Question 5

Download the patient_names.csv and patient_properties.csv files from Canvas and read them into R. Manually set the date columns to be date variables. Print the first 10 observations of each.

In [4]:
df_names <- read_csv("patient_names.csv")              ## reads the csv "patient_names.csv" and assigns the data to the data frame "df_names".
df_prop <- read_csv("patient_properties.csv")          ## reads the csv "patient_properties.csv" and assigns the data to the data frame "df_prop". 

birthdate_var <- df_names$BIRTHDATE                    ## sets the birthdate column to a variable called "birthdate_var"
deathdate_var <- df_names$DEATHDATE                    ## sets the deathdate column to a variable called "deathdate_var"

head(birthdate_var, 10)                                ## prints the first 10 observations in birthdate_var
head(deathdate_var, 10)                                ## prints the first 10 observations in deathdate_var

Rows: 974 Columns: 7
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (7): ID, BIRTHDATE, DEATHDATE, FIRST, LAST, CITY, STATE

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 3896 Columns: 3
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (3): ID, property, value

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

 [1] "3/19/77"  "2/19/40"  "6/4/58"   "12/25/28" "12/25/28" "12/25/28"
 [7] "11/8/57"  "6/27/72"  "3/6/54"   "7/10/27"

 [1] NA        NA        NA        "9/29/17" "2/23/14" NA        NA
 [8] NA        NA        NA

### Question 6
In the data frame pulled from patient_properties, you'll notice that the data is long, not wide. Do a pivot to make the properties their own columns. Print the first 10 observations after you do so.

In [5]:
df_prop_wide <- df_prop %>%                                   ## assigns the following changes to a new data frame called "df_prop_wide"
    pivot_wider(names_from = property, values_from = value)   ## makes the property colum from df_prop column titles, and the value columm
                                                              ##      as the values under those new columns.
head(df_prop_wide, 10)                                        ## prints the first 10 observations from df_prop_wide

   ID                                   MARITAL RACE   ETHNICITY   GENDER
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f M       white  nonhispanic F
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa M       white  nonhispanic M
3  8123d076-0886-9007-e956-d5864aa121a7 M       white  nonhispanic M
4  770518e4-6133-648e-60c9-071eb2f0e2ce M       white  hispanic    M
5  f96addf5-81b9-0aab-7855-d208d3d352c5 M       white  hispanic    M
6  8e9650d1-788a-78f9-4a28-d08f7f95354a M       white  hispanic    M
7  183df435-4190-060e-8f8e-bf63c572b266 M       asian  nonhispanic F
8  720560d4-51da-c38c-ee90-c15935278df1 M       white  nonhispanic M
9  217851b0-5f47-d376-18b9-0fe4ba77207e S       black  hispanic    M
10 ff331e5c-ab16-e218-f39a-63e11de1ed75 M       native hispanic    M

### Question 7
Perform a left join of the names and properties_wide data frames by the ID column and print the first 10 rows.

In [6]:
joined_pt_df <- left_join(df_names, df_prop_wide, by = "ID")

head(joined_pt_df, 10)

   ID                                   BIRTHDATE DEATHDATE FIRST
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f 3/19/77   NA        Nikita578
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa 2/19/40   NA        Zane918
3  8123d076-0886-9007-e956-d5864aa121a7 6/4/58    NA        Quinn173
4  770518e4-6133-648e-60c9-071eb2f0e2ce 12/25/28  9/29/17   Abel832
5  f96addf5-81b9-0aab-7855-d208d3d352c5 12/25/28  2/23/14   Edwin773
6  8e9650d1-788a-78f9-4a28-d08f7f95354a 12/25/28  NA        Frankie174
7  183df435-4190-060e-8f8e-bf63c572b266 11/8/57   NA        Eilene124
8  720560d4-51da-c38c-ee90-c15935278df1 6/27/72   NA        Lowell343
9  217851b0-5f47-d376-18b9-0fe4ba77207e 3/6/54    NA        Adrian111
10 ff331e5c-ab16-e218-f39a-63e11de1ed75 7/10/27   NA        Eugene421
   LAST           CITY      STATE         MARITAL RACE   ETHNICITY   GENDER
1  Erdman779      Quincy    Massachusetts M       white  nonhispanic F
2  Hodkiewicz467  Boston    Massachusetts M       white  nonhispanic M
3  Marquardt819   Quincy    Massachusetts M       white  nonhispanic M
4  Smitham825     Boston    Massachusetts M       white  hispanic    M
5  Labadie908     Boston    Massachusetts M       white  hispanic    M
6  Oberbrunner298 Boston    Massachusetts M       white  hispanic    M
7  Walsh511       Cambridge Massachusetts M       asian  nonhispanic F
8  Price929       Quincy    Massachusetts M       white  nonhispanic M
9  Gleason633     Boston    Massachusetts S       black  hispanic    M
10 Abernathy524   Boston    Massachusetts M       native hispanic    M

### Question 8
Notice something interesting about the names in our data set. Fix the name formatting and print the first 10 observations.

In [7]:
tidied_pt_df <- joined_pt_df %>%
    mutate(FIRST = str_remove_all(FIRST, "[0-9]")) %>%
    mutate(LAST = str_remove_all(LAST,"[0-9]"));

head(tidied_pt_df, 10)

   ID                                   BIRTHDATE DEATHDATE FIRST   LAST
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f 3/19/77   NA        Nikita  Erdman
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa 2/19/40   NA        Zane    Hodkiewicz
3  8123d076-0886-9007-e956-d5864aa121a7 6/4/58    NA        Quinn   Marquardt
4  770518e4-6133-648e-60c9-071eb2f0e2ce 12/25/28  9/29/17   Abel    Smitham
5  f96addf5-81b9-0aab-7855-d208d3d352c5 12/25/28  2/23/14   Edwin   Labadie
6  8e9650d1-788a-78f9-4a28-d08f7f95354a 12/25/28  NA        Frankie Oberbrunner
7  183df435-4190-060e-8f8e-bf63c572b266 11/8/57   NA        Eilene  Walsh
8  720560d4-51da-c38c-ee90-c15935278df1 6/27/72   NA        Lowell  Price
9  217851b0-5f47-d376-18b9-0fe4ba77207e 3/6/54    NA        Adrian  Gleason
10 ff331e5c-ab16-e218-f39a-63e11de1ed75 7/10/27   NA        Eugene  Abernathy
   CITY      STATE         MARITAL RACE   ETHNICITY   GENDER
1  Quincy    Massachusetts M       white  nonhispanic F
2  Boston    Massachusetts M       white  nonhispanic M
3  Quincy    Massachusetts M       white  nonhispanic M
4  Boston    Massachusetts M       white  hispanic    M
5  Boston    Massachusetts M       white  hispanic    M
6  Boston    Massachusetts M       white  hispanic    M
7  Cambridge Massachusetts M       asian  nonhispanic F
8  Quincy    Massachusetts M       white  nonhispanic M
9  Boston    Massachusetts S       black  hispanic    M
10 Boston    Massachusetts M       native hispanic    M

### Question 9
Using a for statement to loop through the categorical variables (excluding name and ID), print the counts of each unique value in descending order, using the mdpre() function for formatting.

In [14]:
categorical_vars <- tidied_pt_df %>%
  select(where(~ is.character(.x) || is.factor(.x))) %>%
  select(-ID, -FIRST, -LAST) %>%
  names()

for (var in categorical_vars) {
  cat("\n----- Counts for:", var, "-----\n")
  tidied_pt_df %>%
    count(!!sym(var), sort = TRUE) %>%
    mdpre()
}

----- Counts for: BIRTHDATE -----
# A tibble: 880 Ã— 2
   BIRTHDATE     n
   <chr>     <int>
 1 1/12/36       4
 2 1/28/29       4
 3 11/17/25      4
 4 4/22/27       4
 5 5/15/29       4
 6 11/16/25      3
 7 11/3/30       3
 8 11/4/28       3
 9 12/25/28      3
10 2/5/27        3
# â„¹ 870 more rows

----- Counts for: DEATHDATE -----
# A tibble: 149 Ã— 2
   DEATHDATE     n
   <chr>     <int>
 1 NA          820
 2 1/26/12       2
 3 1/31/16       2
 4 1/5/21        2
 5 10/19/14      2
 6 7/31/19       2
 7 9/29/17       2
 8 1/13/14       1
 9 1/13/21       1
10 1/14/14       1
# â„¹ 139 more rows

----- Counts for: CITY -----
# A tibble: 29 Ã— 2
   CITY           n
   <chr>      <int>
 1 Boston       541
 2 Quincy        80
 3 Cambridge     45
 4 Revere        42
 5 Chelsea       39
 6 Weymouth      37
 7 Somerville    25
 8 Hingham       22
 9 Winthrop      22
10 Brookline     17
# â„¹ 19 more rows

----- Counts for: STATE -----
# A tibble: 1 Ã— 2
  STATE             n
  <chr>         <int>
1 Massachusetts   974

----- Counts for: MARITAL -----
# A tibble: 5 Ã— 2
  MARITAL     n
  <chr>   <int>
1 M         782
2 S         189
3 Fine        1
4 male        1
5 NA          1

----- Counts for: RACE -----
# A tibble: 7 Ã— 2
  RACE         n
  <chr>    <int>
1 white      680
2 black      163
3 asian       90
4 other       16
5 hawaiian    13
6 native      11
7 asiann       1

----- Counts for: ETHNICITY -----
# A tibble: 4 Ã— 2
  ETHNICITY       n
  <chr>       <int>
1 nonhispanic   781
2 hispanic      190
3 nonhispani      2
4 hispani         1

----- Counts for: GENDER -----
# A tibble: 5 Ã— 2
  GENDER     n
  <chr>  <int>
1 M        493
2 F        478
3 Female     1
4 Male       1
5 female     1

### Question 10
If you see any weird values, get rid of the ones that don't make sense, and combine the ones that are formatted wrong. Don't forget ot check the dates! Print the new tables for categorical values, and print the date ranges.

In [15]:
## Track original row count
n_before <- nrow(tidied_pt_df)

## Clean categorical variables
tidied_pt_df <- tidied_pt_df %>%
    mutate(
        MARITAL = case_when(
        MARITAL %in% c("M", "Married") ~ "Married",
        MARITAL %in% c("S", "Single") ~ "Single",
        TRUE ~ NA_character_
    ),
    RACE = case_when(
        RACE %in% c("white", "White") ~ "White",
        RACE %in% c("black", "Black") ~ "Black",
        RACE %in% c("asian", "asiann") ~ "Asian",
        RACE %in% c("other") ~ "Other",
        RACE %in% c("hawaiian", "Hawaiian") ~ "Hawaiian",
        RACE %in% c("native", "Native") ~ "Native",
        TRUE ~ NA_character_
    ),
    ETHNICITY = case_when(
        ETHNICITY %in% c("nonhispanic", "nonhispani") ~ "Non-Hispanic",
        ETHNICITY %in% c("hispanic", "hispani") ~ "Hispanic",
        TRUE ~ NA_character_
    ),
    GENDER = case_when(
        GENDER %in% c("M", "Male", "male") ~ "Male",
        GENDER %in% c("F", "Female", "female") ~ "Female",
        TRUE ~ NA_character_
    )
  ) %>%
## Drop rows with unexpected values
    filter(
        !is.na(MARITAL),
        !is.na(RACE),
        !is.na(ETHNICITY),
        !is.na(GENDER)
  ) %>%
## Convert and clean dates
    mutate(
        BIRTHDATE = mdy(BIRTHDATE),
        DEATHDATE = mdy(DEATHDATE)
  ) %>%
    filter(
        BIRTHDATE <= today(),
        is.na(DEATHDATE) | DEATHDATE >= BIRTHDATE
  )

## Track cleaned row count
n_after <- nrow(tidied_pt_df)

## Report how many rows were dropped
cat("Row count before cleaning:", n_before, "\n")
cat("Row count after cleaning:", n_after, "\n")
cat("Rows dropped:", n_before - n_after, "\n\n")

## Print cleaned categorical frequency tables
cat("MARITAL distribution:\n")
print(tidied_pt_df %>% count(MARITAL))

cat("\nRACE distribution:\n")
print(tidied_pt_df %>% count(RACE))

cat("\nETHNICITY distribution:\n")
print(tidied_pt_df %>% count(ETHNICITY))

cat("\nGENDER distribution:\n")
print(tidied_pt_df %>% count(GENDER))

## Print date ranges
cat("\nBirthdate range:\n")
print(range(tidied_pt_df$BIRTHDATE, na.rm = TRUE))

cat("\nDeathdate range:\n")
print(range(tidied_pt_df$DEATHDATE, na.rm = TRUE))

Row count before cleaning: 974
Row count after cleaning: 307
Rows dropped: 667

MARITAL distribution:
# A tibble: 2 Ã— 2
  MARITAL     n
  <chr>   <int>
1 Married   240
2 Single     67

RACE distribution:
# A tibble: 6 Ã— 2
  RACE         n
  <chr>    <int>
1 Asian       27
2 Black       50
3 Hawaiian     3
4 Native       1
5 Other        5
6 White      221

ETHNICITY distribution:
# A tibble: 2 Ã— 2
  ETHNICITY        n
  <chr>        <int>
1 Hispanic        60
2 Non-Hispanic   247

GENDER distribution:
# A tibble: 2 Ã— 2
  GENDER     n
  <chr>  <int>
1 Female   155
2 Male     152

Birthdate range:
[1] "1969-01-11" "2025-08-12"

Deathdate range:
[1] "2012-05-15" "2021-03-26"

### Question 11
Make a histogram of the ages of patients by gender.

In [ ]:
library(ggplot2)

ggplot(tidied_pt_df, aes(x = BIRTHDATE, color = GENDER)) +
       geom_histogram()

### Question 12
Make a scatterplot of birthdate by martial status.

In [ ]:
ggplot(tidied_pt_df, aes(x = BIRTHDATE, y = MARITAL, color = MARITAL)) +
    geom_jitter(alpha = 1, width = 1, height = 1)
    geom_point(size = 5, shape = 20)
## my brain is as broken as this scatterplot. I will definitely be in office hours to go over this, as well as the previous 3 questions. I'm sorry you
## had to see this </3